{% extends 'blog/base.html' %}

{% block lasted_blogs %}
    {% for blog in lasted_blos %}
        <li>
            <a href={{ blog.get_absolute_url }}>{{ blog.title }}</a>
        </li>
    {% endfor %}

{% endblock lasted_blogs %}


{% block blogs_category %}
    {% for cate in category %}
        <li>
            <a href="#">{{ cate.name }}</a>
        </li>
    {% endfor %}
{% endblock blogs_category %}


{% block blog_tag_cloud %}
    {% for tag in tags %}
        <li>
            <a href="#">{{ tag.name }}</a>
        </li>
    {% endfor %}

{% endblock blog_tag_cloud %}